Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.o
*.lo
*.la
*~
TestSkin
TestShadow
TexPainter
TexPainter_DEBUG.exe
TexPainter_RELEASE.exe
libGameEngine.dll
*.lib
*.ncb
*.Ivan.user
projects/visualc8/Debug
projects/visualc8/Release
