Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.o
*.lo
*.la
*~
*.exe
TestSkin
TestShadow
TexPainter
*.ncb
*.Ivan.user
*.Eneaa.user
projects/visualc8/Debug
projects/visualc8/Release
projects/visualc8/Debug_2008
projects/visualc8/Release_2008
projects/visualc8/Debug_2009
projects/visualc8/Release_2009
projects/visualc9/Debug
projects/visualc9/Release
projects/visualc9/Debug_2008
projects/visualc9/Release_2008
projects/visualc9/Debug_2009
projects/visualc9/Release_2009
*.embedded
